body,td,p { color: #000000;
font-family:  Arial, sans-serif;
font-size: 1em;
line-height: 1.2em;
background-color: #ffffff;
margin: 0px;
padding: 0px;
}

/*- Sets the width of the page  -*/
#maindiv {
  align:center;
  width:1000px;
  padding: 10px 20px 10px 20px;
}

/*- Sidebar draws the bar on the right with ads or teasers. the width of sidebar and content should be smaller than maindiv.width */
#sidebar {
  width:150px;
  padding-left:10px;
  padding-top:50px;
}

#content {
  width: 700px;  
}



a {color: #3333ee;
text-decoration: underline;}

a:hover {color: #3333ee;
text-decoration: underline;}


.head1 {
padding-top: 20px;
font-size: 1.3em;
line-height: 1.5em;
font-family: Arial, sans-serif;
text-align: left;}

.head2 {
font-size: 1.2em;
line-height:1.4em;
font-family: Arial, sans-serif;
text-align: left;}