
td.mainmenu {  
  background: url("menu_bg.jpg");
  padding: 0 20px 0 20px;
  font-family: Verdana;
  font-size: 11px;
  height:43px;
  vertial-align:center;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #f0f0f0;
}

a.mainmenu {
  text-decoration:none;
}

a.mainmenu:hover {
  text-decoration:none;
  color: #ff6600;
}

.cellsubmenu {
  background-color: #f0f0f0;
  border:1px solid #cccccc;
  padding: 0px;
}

.submenu1 {
  background-color:#ff9702;
  padding: 5px 0 5px 0;
}

a.submenu1 {
  color: #ffffff;
  font-family:Verdana;
  font-size: 11px;
  text-decoration:none;
  padding: 0px 1px 0px 15px;
}

a.submenu1:hover {
  color: #f0f0f0;
  text-decoration:none;
}

.submenu2 {
  padding: 5px 0 2px 0;
}

a.submenu2 {
 color: #666666;
  font-family:Verdana;
  font-size: 11px;
  text-decoration:none;
  padding: 0px 0px 0px 15px;
}

a.submenu2:hover {
  text-decoration:none;
  color: #ff9702;
}