<div align="left">{$lang_admin_control_panel}</div>

<div align="left">
{if $UP_TO_DATE == true}
<b>{$lang_version_up_to_date}</b><br /><br />
{else}
<b>{$lang_version_not_up_to_date}</b><br />
{$lang_reason} : {$REASON} - <a href="{$LINK}" target="_blank" class="inline">{$lang_upgrade_here} (v{$NEW_VERSION})</a><br /><br />
{/if}
{$admin_main_message}<br />
<ul>
<li><a href="admin.php?type=unbanuser" class="inline">{$lang_unban_a_user}</a></li>
<li><a href="admin.php?type=banuser" class="inline">{$lang_ban_a_user}</a></li>
<li><a href="admin.php?type=edituser" class="inline">{$lang_edit_a_user}</a></li>
<li><a href="admin.php?type=newfield" class="inline">{$lang_create_a_new_field}</a></li>
<li><a href="admin.php?type=settings" class="inline">{$lang_change_settings}</a></li>
<li><a href="admin.php?type=deleteuser" class="inline">{$lang_delete_a_user}</a></li>
<li><a href="admin.php?type=newuser" class="inline">{$lang_register_new_user}</a></li>
<li><a href="admin.php?type=memberlist" class="inline">{$lang_complete_member_list}</a></li>
<li><a href="admin.php?type=installtemplate" class="inline">{$lang_install_a_template}</a></li>
</ul>
</div>