<div align="left">{$lang_change_settings}</div>

<div align="left">
<form action="admin.php?type=settings" method="post">
<input type="hidden" name="process" value="yes" />
<table border="0">
{if $gzip == true}
<tr>
<td>{$lang_gzip}:</td>
<td>
<select name="gzip">
<option value="{$config.gzip}">{$lang_leave_the_same}</option>
<option value="1">{$lang_enabled}</option>
<option value="0">{$lang_disabled}</option>
</select>
</td>
</tr>
{else}
<tr>
<td>&nbsp;</td>
<td><input type="hidden" name="gzip" value="0" /></td>
</tr>
{/if}
<tr>
<td>{$lang_cookie_prefix}:</td>
<td><input type="text" name="cookie_prefix" maxlength="255" value="{$config.cookie_prefix}" /></td>
</tr>
<tr>
<td>{$lang_cookie_secure}:</td>
<td>
<select name="cookie_secure">
<option value="{$config.cookie_secure}">{$lang_leave_the_same}</option>
<option value="1">{$lang_enabled}</option>
<option value="0">{$lang_disabled}</option>
</select>
</td>
</tr>
<tr>
<td>{$lang_cookie_path}:</td>
<td><input type="text" name="cookie_path" maxlength="255" value="{$config.cookie_path}" /></td>
</tr>
<tr>
<td>{$lang_cookie_expiration}:</td>
<td><input type="text" name="cookie_expiration" maxlength="8" value="{$config.cookie_expiration}" /></td>
</tr>
<tr>
<td>{$lang_cookie_domain}:</td>
<td><input type="text" name="cookie_domain" maxlength="255" value="{$config.cookie_domain}" /></td>
</tr>
<tr>
<td>{$lang_max_login_attempts}:</td>
<td><input type="text" name="max_login_attempts" maxlength="2" value="{$config.max_login_attempts}" /></td>
</tr>
<tr>
<td>{$lang_login_redirect_location}:</td>
<td><input type="text" name="login_redirect" maxlength="255" value="{$config.login_redirect}" /></td>
</tr>
<tr>
<td>{$lang_logout_redirect_location}:</td>
<td><input type="text" name="logout_redirect" maxlength="255" value="{$config.logout_redirect}" /></td>
</tr>
<tr>
<td>{$lang_template_directory}:</td>
<td><input type="text" name="template_directory" maxlength="255" value="{$config.old_template_directory}" /></td>
</tr>
<tr>
<td>{$lang_compiled_directory}:</td>
<td><input type="text" name="compiled_directory" maxlength="255" value="{$config.old_compiled_directory}" /></td>
</tr>
<tr>
<td>{$lang_auth_guest_profile}:</td>
<td>
<select name="auth_guest_profile">
<option value="{$config.auth_guest_profile}">{$lang_leave_the_same}</option>
<option value="1">{$lang_yes}</option>
<option value="2">{$lang_no}</option>
</select>
</td>
</tr>
<tr>
<td>{$lang_default_template}:</td>
<td>
<select name="default_template">
<option value="{$config.default_template}">{$lang_leave_the_same}</option>
{foreach from=$templates item=template}
<option value="{$template[1]}">{$template[0]}</option>
{/foreach}
</select>
</td>
</tr>
<tr>
<td>{$lang_max_about_you}:</td>
<td><input type="text" name="max_about_you" maxlength="5" value="{$config.max_about_you}" /></td>
</tr>
<tr>
<td>{$lang_auth_profile_image}:</td>
<td>
<select name="auth_profile_image">
<option value="{$config.auth_profile_image}">{$lang_leave_the_same}</option>
<option value="1">{$lang_yes}</option>
<option value="0">{$lang_no}</option>
</select>
</td>
</tr>
<tr>
<td>{$lang_require_activation}:</td>
<td>
<select name="activate">
<option value="{$config.activate}">{$lang_leave_the_same}</option>
<option value="1">{$lang_yes}</option>
<option value="0">{$lang_no}</option>
</select>
</td>
</tr>
<tr>
<td>{$lang_language}:</td>
<td><input type="text" name="language" maxlength="255" value="{$config.language}" /></td>
</tr>
<tr>
<td>{$lang_site_name}:</td>
<td><input type="text" name="site_name" maxlength="255" value="{$config.site_name}" /></td>
</tr>
<tr>
<td valign="top">{$lang_email_signature}:</td>
<td><textarea style="width:200px;height:75px;" name="email_signature" maxlength="255">{$config.email_signature}</textarea></td>
</tr>
<tr>
<td>{$lang_from_email}:</td>
<td><input type="text" name="from_email" maxlength="255" value="{$config.from_email}" /></td>
</tr>
{if $image == true}
<tr>
<td>{$lang_image_verification}:</td>
<td>
<select name="image_verification">
<option value="{$config.image_verification}">{$lang_leave_the_same}</option>
<option value="1">{$lang_enabled}</option>
<option value="0">{$lang_disabled}</option>
</select>
</td>
</tr>
{else}
<tr>
<td>&nbsp;</td>
<td><input type="hidden" name="image_verification" value="0" /></td>
</tr>
{/if}
</table>
<br />
<input type="submit" value="{$lang_go}" />
</form>
</div>