<div align="left">{$lang_install_a_template}</div>

<div align="left">
<form action="admin.php?type=installtemplate" method="post">
<input type="hidden" name="process" value="yes" />
<table border="0">
<tr>
<td>{$lang_template_name}:</td>
<td><input type="text" name="template_name" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_template_directory}:</td>
<td>
<select name="template_dir">
{foreach from=$templates item=template}
<option value="{$template}">{$template}</option>
{/foreach}
</select>
</table>
<br />
<input type="submit" value="{$lang_go}" />
</form>
</div>