<div align="left">{$lang_edit_your_profile}</div>

<div align="left">
<form action="profile.php?type=edit" method="post">
<input type="hidden" name="process" value="yes" />
<table border="0">
<tr>
<td valign="top">{$lang_signature}:</td>
<td><textarea style="width:200px;height:75px;" name="signature" maxlength="255">{$user_info.signature}</textarea></td>
</tr>
<tr>
<td>{$lang_template}:</td>
<td>
<select name="template">
<option value="{$user_info.template}">{$lang_leave_the_same}</option>
{foreach from=$templates item=template}
<option value="{$template.id}">{$template.name}</option>
{/foreach}
</select>
</td>
</tr>
<tr>
<td>{$lang_email}:</td>
<td><input type="text" name="email" value="{$user_info.email}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_confirm_email}:</td>
<td><input type="text" name="c_email" value="{$user_info.email}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_new_password}:</td>
<td><input type="password" name="new_pword" maxlength="32" /></td>
</tr>
<tr>
<td>{$lang_confirm_new_password}:</td>
<td><input type="password" name="c_new_pword" maxlength="32" /></td>
</tr>
<tr>
<td>{$lang_msn}:</td>
<td><input type="text" name="msn" value="{$user_info.msn}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_yim}:</td>
<td><input type="text" name="yim" value="{$user_info.yim}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_aim}:</td>
<td><input type="text" name="aim" value="{$user_info.aim}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_skype}:</td>
<td><input type="text" name="skype" value="{$user_info.skype}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_icq}:</td>
<td><input type="text" name="icq" value="{$user_info.icq}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_website}:</td>
<td><input type="text" name="website" value="{$user_info.website}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_hobbies}:</td>
<td><input type="text" name="hobbies" value="{$user_info.hobbies}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_occupation}:</td>
<td><input type="text" name="occupation" value="{$user_info.occupation}" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_show_email}:</td>
<td>
<select name="show_email">
<option value="{$user_info.show_email}" selected="selected">{$lang_leave_the_same}</option>
<option value="1">{$lang_show}</option>
<option value="0">{$lang_dont_show}</option>
</select>
</td>
</tr>
{if $config.auth_profile_image == 1}
<tr>
<td>{$lang_profile_image}:</td>
<td><input type="text" name="profile_image" value="{$user_info.profile_image}" maxlength="255" />
</tr>
{/if}
<tr>
<td valign="top">{$lang_about_you}:</td>
<td><textarea style="width:200px;height:75px;" name="about_you" maxlength="{$config.max_about_you}">{$user_info.about_you}</textarea></td>
</tr>
<tr>
<td>{$lang_show_profile}:</td>
<td>
<select name="show_profile">
<option value="{$user_info.show_profile}" selected="selected">{$lang_leave_the_same}</option>
<option value="1">{$lang_show}</option>
<option value="0">{$lang_dont_show}</option>
</select>
</td>
</tr>
</table>
<br />
<input type="submit" value="{$lang_go}" />
</form>
</div>