<div align="left">
<table style="border:0px;width:100%;" cellpadding="2" cellspacing="0">
<tr>
<td align="center" colspan="2">Profile : {$username}</td>
</tr>
{if $config.auth_profile_image == 1 && $user_info.profile_image != ''}
<tr>
<td align="center" colspan="2">
<img src="{$user_info.profile_image}" border="0" alt="Quadodo Login System Image" title="Quadodo Login System Image" />
</td>
</tr>
{/if}
{if $user_info.show_email == 1}
<tr>
<td>{$lang_email}:</td>
<td><a href="mailto:{$user_info.email}" title="{$lang_email} {$username}">{$user_info.email}</a></td>
</tr>
{/if}
<tr>
<td>{$lang_timezone}:</td>
<td>GMT {if $user_info.tz > 0}+{$user_info.tz}{elseif $user_info.tz < 0}{$user_info.tz}{else}{/if}</td>
</tr>
{if $user_info.msn != ''}
<tr>
<td>{$lang_msn}:</td>
<td>{$user_info.msn}</td>
</tr>
{/if}
{if $user_info.yim != ''}
<tr>
<td>{$lang_yim}:</td>
<td>{$user_info.yim}</td>
</tr>
{/if}
{if $user_info.aim != ''}
<tr>
<td>{$lang_aim}:</td>
<td>{$user_info.aim}</td>
</tr>
{/if}
{if $user_info.skype != ''}
<tr>
<td>{$lang_skype}:</td>
<td>{$user_info.skype}</td>
</tr>
{/if}
{if $user_info.icq != ''}
<tr>
<td>{$lang_icq}:</td>
<td>{$user_info.icq}</td>
</tr>
{/if}
{if $user_info.website != ''}
<tr>
<td>{$lang_website}:</td>
<td><a href="{$user_info.website}" target="_blank" title="{$user_info.website}">{$user_info.website}</a></td>
</tr>
{/if}
{if $user_info.hobbies != ''}
<tr>
<td>{$lang_hobbies}:</td>
<td>{$user_info.hobbies}</td>
</tr>
{/if}
{if $user_info.occupation != ''}
<tr>
<td>{$lang_occupation}:</td>
<td>{$user_info.occupation}</td>
</tr>
{/if}
<tr>
<td colspan="2" align="center">{$lang_about_me}</td>
</tr>
<tr>
<td colspan="2" align="center">{$user_info.about_you}<br /><br />{$user_info.signature}</td>
</tr>
</table>
</div>