<div align="left">{$lang_register_a_new_account}</div>

<div align="left">
<form action="{$form_submit}" method="post">
<input type="hidden" name="process" value="yes" />
<input type="hidden" name="random_id" value="{$random_id}" />
<table border="0">
<tr>
<td>{$lang_username}:</td>
<td><input type="text" name="username" maxlength="32" value="{$smarty.get.username}" /></td>
</tr>
<tr>
<td>{$lang_password}:</td>
<td><input type="password" name="password" maxlength="32" /></td>
</tr>
<tr>
<td>{$lang_confirm_password}:</td>
<td><input type="password" name="c_password" maxlength="32" /></td>
</tr>
<tr>
<td>{$lang_email}:</td>
<td><input type="text" name="email" maxlength="255" /></td>
</tr>
<tr>
<td>{$lang_confirm_email}:</td>
<td><input type="text" name="c_email" maxlength="255" /></td>
</tr>
<tr>
<td valign="top">{$lang_signature}:</td>
<td><textarea style="width:200px;height:75px;" name="signature" maxlength="255">{$smarty.get.signature}</textarea></td>
</tr>
<tr>
<td>{$lang_timezone}:</td>
<td>
<select name="tz">
{if $smarty.get.tz != ""}
<option value="{$smarty.get.tz}">{$lang_leave_the_same}</option>
{/if}
<option value="-12">GMT -12 ({$lang_tz_1})</option>
<option value="-11">GMT -11 ({$lang_tz_2})</option>
<option value="-10">GMT -10 ({$lang_tz_3})</option>
<option value="-9">GMT -9 ({$lang_tz_4})</option>
<option value="-9">GMT -9 ({$lang_tz_5})</option>
<option value="-8">GMT -8 ({$lang_tz_6})</option>
<option value="-7">GMT -7 ({$lang_tz_7})</option>
<option value="-6">GMT -6 ({$lang_tz_8})</option>
<option value="-5">GMT -5 ({$lang_tz_9})</option>
<option value="-4">GMT -4 ({$lang_tz_10})</option>
<option value="-3">GMT -3 ({$lang_tz_11})</option>
<option value="-3">GMT -3 ({$lang_tz_12})</option>
<option value="-2">GMT -2 ({$lang_tz_13})</option>
<option value="-1">GMT -1 ({$lang_tz_14})</option>
<option value="0">GMT ({$lang_tz_15})</option>
<option value="1">GMT +1 ({$lang_tz_16})</option>
<option value="2">GMT +2 ({$lang_tz_17})</option>
<option value="3">GMT +3 ({$lang_tz_18})</option>
<option value="3">GMT +3 ({$lang_tz_19})</option>
<option value="4">GMT +4 ({$lang_tz_20})</option>
<option value="4">GMT +4 ({$lang_tz_21})</option>
<option value="5">GMT +5 ({$lang_tz_22})</option>
<option value="5">GMT +5 ({$lang_tz_23})</option>
<option value="5">GMT +5 ({$lang_tz_24})</option>
<option value="6">GMT +6 ({$lang_tz_25})</option>
<option value="6">GMT +6 ({$lang_tz_26})</option>
<option value="7">GMT +7 ({$lang_tz_27})</option>
<option value="8">GMT +8 ({$lang_tz_28})</option>
<option value="9">GMT +9 ({$lang_tz_29})</option>
<option value="9">GMT +9 ({$lang_tz_30})</option>
<option value="10">GMT +10 ({$lang_tz_31})</option>
<option value="10">GMT +10 ({$lang_tz_32})</option>
<option value="11">GMT +11 ({$lang_tz_33})</option>
<option value="11">GMT +11 ({$lang_tz_34})</option>
<option value="12">GMT +12 ({$lang_tz_35})</option>
<option value="12">GMT +12 ({$lang_tz_36})</option>
<option value="13">GMT +13 ({$lang_tz_37})</option>
<option value="14">GMT +14 ({$lang_tz_38})</option>
</select>
</td>
</tr>
<tr>
<td>{$lang_template}:</td>
<td>
<select name="template">
{if $smarty.get.template != ""}
<option value="{$smarty.get.template}">{$lang_leave_the_same}</option>
{/if}
{foreach from=$templates item=template}
<option value="{$template.id}">{$template.name}</option>
{/foreach}
</select>
</td>
</tr>
<tr>
<td>{$lang_msn}:</td>
<td><input type="text" name="msn" maxlength="255" value="{$smarty.get.msn}" /></td>
</tr>
<tr>
<td>{$lang_yim}:</td>
<td><input type="text" name="yim" maxlength="255" value="{$smarty.get.yim}" /></td>
</tr>
<tr>
<td>{$lang_aim}:</td>
<td><input type="text" name="aim" maxlength="255" value="{$smarty.get.aim}" /></td>
</tr>
<tr>
<td>{$lang_skype}:</td>
<td><input type="text" name="skype" maxlength="255" value="{$smarty.get.skype}" /></td>
</tr>
<tr>
<td>{$lang_icq}:</td>
<td><input type="text" name="icq" maxlength="255" value="{$smarty.get.icq}" /></td>
</tr>
<tr>
<td>{$lang_website}:</td>
<td><input type="text" name="website" maxlength="255" value="{$smarty.get.website}" /></td>
</tr>
<tr>
<td>{$lang_hobbies}:</td>
<td><input type="text" name="hobbies" maxlength="255" value="{$smarty.get.hobbies}" /></td>
</tr>
<tr>
<td>{$lang_occupation}:</td>
<td><input type="text" name="occupation" maxlength="255" value="{$smarty.get.occupation}" /></td>
</tr>
<tr>
<td>{$lang_show_email}:</td>
<td>
<select name="show_email">
{if $smarty.get.show_email != ""}
<option value="{$smarty.get.show_email}">{$lang_leave_the_same}</option>
{/if}
<option value="1">{$lang_show}</option>
<option value="0">{$lang_dont_show}</option>
</select>
</td>
</tr>
{if $config.auth_profile_image == 1}
<tr>
<td>{$lang_profile_image}:</td>
<td><input type="text" name="profile_image" maxlength="255" value="{$smarty.get.profile_image}" /></td>
</tr>
{/if}
<tr>
<td>{$lang_show_profile}:</td>
<td>
<select name="show_profile">
{if $smarty.get.show_profile != ""}
<option value="{$smarty.get.show_profile}">{$lang_leave_the_same}</option>
{/if}
<option value="1">{$lang_show}</option>
<option value="0">{$lang_dont_show}</option>
</select>
</td>
</tr>
<tr>
<td valign="top">{$lang_about_you}:</td>
<td><textarea style="width:200px;height:75px;" name="about_you" maxlength="{$config.max_about_you}">{$smarty.get.about_you}</textarea></td>
</tr>
{if $config.image_verification == 1}
<tr>
<td colspan="2"><img src="security_image.php?id={$random_id}" border="0" alt="Quadodo Login System" title="Quadodo Login System" /></td>
</tr>
<tr>
<td>{$lang_image_code}:</td>
<td><input type="text" name="image_code" maxlength="10" /></td>
</tr>
{/if}
</table>
<br />
<input type="submit" value="{$lang_go}" />
</form>
</div>